<!DOCTYPE html>
<html>
<head>
    <title>480 PlayGround</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.min.css" />
    <script type="text/javascript" src="../Scripts/jquery-1.9.1.min.js"></script>  <!--Boolean Attributes: async, defer-->
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>


</head>
<body>
    <h1>480</h1>
    <!-- <a href="http://www.google.com.au"><img src="Content/img/sowsow.jpg" alt="sowsow"/></a>-->
    <img src="../Content/img/clarity_showroom_small.ico" alt="sowsow" usemap="#sowsowmap" />
    <map name="sowsowmap">
        <area shape="rect" coords="0, 0, 64, 64" href="http://www.google.com" alt="google" />
        <area shape="circle" coords="64, 64, 20" href="http://www.google.com" alt="google" />
    </map>


    <script type="text/javascript">
    <!--
        $(document).ready(function () {
            'use strict';

            var res = GetTypeOf(false);
            console.log(res);

            //res = prompt("Hi", "Default Value");
            //console.log(res);

            CoalescingOperator(0, 10);

            var test;
            console.log("Hi" + (test + "ABC"));


        });

        function CoalescingOperator(parm1, parm2) {

            console.log("CoalescingOperator: " + (parm1 || parm2 || "Default"));
        }

        var GetTypeOf = function (parm) {
            return typeof parm;
        }

    //-->
    </script>
    <noscript>Your browser does not support JavaScirpt so page functionalities will be significantly reduced.</noscript>

</body>
</html>
